@use '../../scss/base' as *;

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .form-group {
      margin-bottom: 15px;
      padding: 5px;

      label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 700;
        color: #333;
      }

      input {
        width: 350px;
        padding: 5px;
        border: none;
        outline: none;
        color: $textColor;
        border-bottom: 1px solid $textColor;
        background-color: transparent;

        &::placeholder {
          font-weight: 700;
          opacity: 0.8;
        }
      }
    }

    .form-button {
      width: 150px;
      padding: 10px;
      border: none;
      background-color: #c6002130;
      color: $accentColor;
      border-radius: 5px;
      transition: all 0.2s ease;
      margin-top: 20px;
      cursor: pointer;
      font-weight: 700;

      &:hover {
        background-color: $accentColor;
        color: $itemColor;
      }
    }
  }
  .error {
    color: crimson;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgba(255, 0, 0, 0.2);
  }
}

// dark theme

.login.dark {

  .form {

    .form-group {

      label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 700;
        color: $textColor-dark;
      }

      input {
        color: $textColor-dark;
        border-bottom: 1px solid $textColor-dark;

        &::placeholder {
          font-weight: 700;
          opacity: 0.8;
        }
      }
    }

    .form-button {
      background-color: #66fcf130;
      color: $accentColor-dark;

      &.wait {
        background-color: $textColor-dark;
        color: $itemColor-dark;
      }

      &:hover {
        background-color: $accentColor-dark;
        color: $itemColor-dark;
      }
    }
  }
}
