$primaryColor: #605865;
$secondaryColor: #f6f6f8;
$bgColor: #e3e3e3;
$accentColor: #c60021;

.featured {
  flex: 2;
  padding: 10px;
  border-radius: 10px;
  background-color: $secondaryColor;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .title {
    font-weight: 700;
    color: $primaryColor;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .progress {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      margin: 10px 0;
    }

    .sales-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .amount {
        font-size: 25px;
        font-weight: 700;
      }

      .text {
        color: $primaryColor;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
      }
    }

    .stats-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .stat {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 5px;

        .stat-amount {
          display: flex;
          align-items: center;
          gap: 5px;
          font-weight: 600;

          &.up {
            color: green;
          }

          &.down {
            color: red;
          }
        }
      }
    }
  }
}

// dark theme

.featured.dark {
  background-color: #121212;
  -webkit-box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 4px 5px 1px rgba(201, 201, 201, 0.15);

  .title {
    color: #ddd;
  }

  .icon {
    color: #ddd;
  }

  .bottom {
    .sales-info {
      .text {
        color: #ddd;
      }

      .amount {
        color: #ccc;
      }
    }
  }
}
