@use '../../../scss/base' as *;

.featured {
  padding: 10px;
  border-radius: 10px;
  background-color: $itemColor;
  box-shadow: $box-shadow;

  .title {
    @include title;
    font-size: 18px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .progress {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      margin: 10px 0;
    }

    .sales-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .amount {
        font-size: 25px;
        font-weight: 700;
      }

      .text {
        color: $textColor;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
      }
    }

    .stats-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;

      .stat {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;

        .stat-amount {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 16px;

          &.up {
            color: green;
          }

          &.down {
            color: red;
          }
        }
      }
    }
  }
}

// dark theme

.featured.dark {
  background-color: $itemColor-dark;
  border: 1px solid $textColor-dark;

  .title {
    color: $textColor-dark;
  }

  .bottom {
    .sales-info {
      .text {
        color: $textColor-dark;
      }

      .amount {
        color: $textColor-dark;
      }
    }
  }
}

// media query

@media screen and (max-width: 1024px) {
  .featured {
    
    .title {
      font-size: $title-m;
    }
  
    .bottom {
      gap: 10px;
  
      .progress {
        width: 80px;
        height: 80px;
      }
  
      .sales-info {
        gap: 15px;
  
        .amount {
          font-size: 24px;
        }
  
        .text {
          font-size: 14px;
        }
      }
  
      .stats-container {        
        .stat {
          gap: 5px;
  
          .stat-amount {
            gap: 1px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

