@use '../../scss/base'as *;

.single-product-container {
  padding: 20px;
  background-color: $bgColor;
  min-height: 100vh;
  border-top-left-radius: 10px;
  color: $textColor;

  .info-card {
    background-color: $itemColor;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    .title {
      margin-bottom: 30px;
    }
    
    .info-container {
      display: flex;
      gap: 25px;
      justify-content: space-between;

        .left {
          flex: 1;

          img {
            width: 100%;
            height: 400px;
            object-fit: contain;
          }
        }

        .right {
          align-self: center;
          flex: 1;
          font-weight: 600;

          h4 {
            margin-top: 15px;
          }

          p {
            margin-bottom: 15px;
            span {
              font-weight: 700;
            }
          }
        }
      }

    
  }
}

// dark theme

.single-product-container.dark {
  background-color: $bgColor-dark;
  color: $textColor-dark;
  

  .info-card {
    background-color: $itemColor-dark;
    border: 1px solid $textColor-dark;
  }
}

// media query

@media screen and (max-width: 600px) {
  .single-product-container {
    border-top-right-radius: 10px;
    font-size: 14px;
  
    .info-card {
  
      .info-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: space-between;
  
        .left {
          flex: 1;
  
          img {
            width: 100%;
            height: 200px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
