$primaryColor: #605865;
$secondaryColor: #f6f6f8;
$bgColor: #e3e3e3;
$accentColor: #c60021;

.single-container {
  background-color: $bgColor;
  border-top-left-radius: 10px;
  min-height: 100vh;
  padding: 20px;

    .info-card {
      position: relative;
      padding: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 10px;
      background-color: $secondaryColor;
      margin-bottom: 15px;

      .title {
        font-weight: 700;
        color: $primaryColor;
        margin-bottom: 10px;
        font-size: 20px;
      }

      .info-button {
        padding: 2px;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-radius: 0 10px 0 0;
        background-color: #c6002130;
        color: $accentColor;
        width: 100px;
        font-weight: 700;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          color: $secondaryColor;
          background-color: $accentColor;
        }
      }

      .info-details {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-top: 15px;

        .info-img {
          flex: 2;

          img {
            width: 100%;
            border-radius: 10px;
            object-fit: fill;
          }
        }

        .info-text {
          list-style-type: none;
          flex: 2;
          flex-wrap: wrap;
          gap: 20px;

          ul {
            margin-top:20px;
            list-style-type: none;
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);
          }

          p {
            color: $primaryColor;
            font-weight: 600;
            margin-bottom: 10px;

            &:nth-child(1) {
              font-size: 25px;
              color: $accentColor;
            }
          }
        }
      }
    }

    .user-chart {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 10px;
    }

    .table-container {
      padding: 20px;
      margin-top: 20px;
      background-color: $secondaryColor;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 10px;
  
      .title {
        font-weight: 700;
        color: $primaryColor;
        margin-bottom: 30px;
        font-size: 20px;
      }
  }

}

// dark theme

.single.dark {
  background-color: #000;

  .single-container {
    .title {
      color: #ccc;
    }

    .top {
      .info-card {
        background-color: #121212;
        -webkit-box-shadow: 2px 4px 5px 1px rgba(48, 15, 15, 0.1);
        box-shadow: 2px 4px 5px 1px rgba(201, 201, 201, 0.1);
        border-radius: 5px;
        border: 1px solid #333;

        .info-button {
          background-color: rgba(128, 0, 128, 0.5);
          color: #999;
        }

        .info-details {
          .info-text {
            p {
              color: #ddd;
              font-weight: 600;
              margin-bottom: 10px;

              &:nth-child(1) {
                font-size: 25px;
                color: #999;
              }
            }
          }
        }
      }

      .user-chart {
        -webkit-box-shadow: 2px 4px 5px 1px rgba(48, 15, 15, 0.1);
        box-shadow: 2px 4px 5px 1px rgba(201, 201, 201, 0.1);
        border: 1px solid #333;
      }
    }

    .bottom {
      border-radius: 5px;
      -webkit-box-shadow: 2px 4px 5px 1px rgba(48, 15, 15, 0.1);
      box-shadow: 2px 4px 5px 1px rgba(201, 201, 201, 0.1);
      border: 1px solid #333;
    }
  }
}
