$primaryColor: #605865;
$secondaryColor: #f6f6f8;
$bgColor: #e3e3e3;
$accentColor: #c60021;

.single-container {
  background-color: $bgColor;
  border-top-left-radius: 10px;
  min-height: 100vh;
  padding: 20px;

  .top {
    display: flex;
    gap: 30px;
    background-color: $bgColor;
    border-top-left-radius: 10px;

    .info-card {
      position: relative;
      flex: 2;
      padding: 25px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 10px;
      background-color: $secondaryColor;

      .title {
        font-weight: 700;
        color: $primaryColor;
        margin-bottom: 10px;
        font-size: 20px;
      }

      .info-button {
        padding: 2px;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-radius: 0 10px 0 0;
        background-color: #c6002130;
        color: $accentColor;
        width: 50px;
        font-weight: 700;
        cursor: pointer;
      }

      .info-details {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 15px;

        .info-img {
          flex: 1;

          img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .info-text {
          flex: 2;

          p {
            color: $primaryColor;
            font-weight: 600;
            margin-bottom: 10px;

            &:nth-child(1) {
              font-size: 25px;
              color: $accentColor;
            }
          }
        }
      }
    }

    .user-chart {
      flex: 3;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 10px;
    }
  }

  .bottom {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: $secondaryColor;

    .title {
      font-weight: 700;
      color: $primaryColor;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}

// dark theme

.single.dark {
  background-color: #000;

  .single-container {
    .title {
      color: #ccc;
    }

    .top {
      .info-card {
        background-color: #121212;
        -webkit-box-shadow: 2px 4px 5px 1px rgba(48, 15, 15, 0.1);
        box-shadow: 2px 4px 5px 1px rgba(201, 201, 201, 0.1);
        border-radius: 5px;
        border: 1px solid #333;

        .info-button {
          background-color: rgba(128, 0, 128, 0.5);
          color: #999;
        }

        .info-details {
          .info-text {
            p {
              color: #ddd;
              font-weight: 600;
              margin-bottom: 10px;

              &:nth-child(1) {
                font-size: 25px;
                color: #999;
              }
            }
          }
        }
      }

      .user-chart {
        -webkit-box-shadow: 2px 4px 5px 1px rgba(48, 15, 15, 0.1);
        box-shadow: 2px 4px 5px 1px rgba(201, 201, 201, 0.1);
        border: 1px solid #333;
      }
    }

    .bottom {
      border-radius: 5px;
      -webkit-box-shadow: 2px 4px 5px 1px rgba(48, 15, 15, 0.1);
      box-shadow: 2px 4px 5px 1px rgba(201, 201, 201, 0.1);
      border: 1px solid #333;
    }
  }
}
