@use '../../../scss/base' as *;

.chart {
  padding: 10px;
  border-radius: 10px;
  color: $accentColor;
  background-color: $itemColor;
  box-shadow: $box-shadow;

  .title {
    @include title;
    font-size: 18px;
  }

  .chart-grid {
    stroke: $bgColor;
  }
}

// dark theme

.chart.dark {
  background-color: $itemColor-dark;
  border: 1px solid $textColor-dark;
  color: $textColor;

  .title {
    color: $textColor-dark;
  }

  .chart-grid {
    opacity: 0.3;
  }
}

// media query

@media screen and (max-width: 1024px) {
  .chart {
    font-size: 14px;

    .title {
      margin-bottom: 10px;
      font-size: 14px;
    }
    
    .chart-grid {
      stroke: $bgColor;
    }
  }
}
