@use '../../scss/base' as *;

.list-container {
  border-top-left-radius: 10px;
  padding: 20px;
  min-height: 100vh;
  background-color: $bgColor;

  .table-container {
    background-color: $itemColor;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      .table-wrapper {
        overflow: auto;
      }

      .message-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .add-btn {
          text-align: center;
        }
      }

    .table-title {
      color: $textColor;
      margin-bottom: 30px;
    }
  }
}

// dark theme

.list-container.dark {
  background-color: $bgColor-dark;
  

  .add-btn {
    background-color: $itemColor-dark;
    color: $accentColor-dark;
    border: 1px solid $textColor-dark;
    
    &:hover {
      background-color: $accentColor-dark;
      color: $itemColor-dark;
    }
  }

  .table-container {
    background-color: $itemColor-dark;
    border: 1px solid $textColor-dark;

    .table-title {
      color: $textColor-dark;
    }
  }
}

// media query
@media screen and (max-width: 990px) {
  .list-container {
    border-top-right-radius: 10px;
    
    .table-container {

      .table-title {
        font-size: 22px;
        margin-bottom: 30px;
      }
    }
  }
}
