@use '../../scss/base' as *;

.list-container {
  @include container;

  .table-container {
    border-radius: 10px;
    background-color: $itemColor;
    padding: $container-padding;
    box-shadow: $box-shadow;

      .table-wrapper {
        overflow: auto;
      }

      .message-container {
        padding: $container-padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .add-btn {
          text-align: center;
        }
      }

    .table-title {
      @include title;
    }
  }
}

// dark theme

.list-container.dark {
  background-color: $bgColor-dark;
  
  .add-btn {
    background-color: $itemColor-dark;
    color: $accentColor-dark;
    border: 1px solid $textColor-dark;
    
    &:hover {
      background-color: $accentColor-dark;
      color: $itemColor-dark;
    }
  }

  .table-container {
    background-color: $itemColor-dark;
    border: 1px solid $textColor-dark;

    .table-title {
      color: $textColor-dark;
    }
  }
}

// media query
@media screen and (max-width: 990px) {
  .list-container {
    @include container-border-radius;
    
    .table-container {
      .table-title {
        font-size: $title-m;
      }
    }
  }
}
