$primaryColor: #605865;
$secondaryColor: #f6f6f8;
$bgColor: #e3e3e3;
$accentColor: #c60021;

.list-container {
  flex: 6;
  border-top-left-radius: 10px;
  background-color: $bgColor;
  padding: 20px;
  min-height: 100vh;

  .add-btn {
    margin-top: 50px;
    text-decoration: none;
    border-radius: 5px;
    background-color: $primaryColor;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
    color: $bgColor;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $accentColor;
    }
  }

  .table-container {
    background-color: $secondaryColor;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;

    .table-title {
      color: $primaryColor;
      margin-bottom: 30px;
    }
  }
}

.list.dark {
  background-color: #121212;
}
