@use '../../scss/base' as *;

.home-container {
  padding-bottom: 20px;
  background-color: $bgColor;
  border-top-left-radius: 10px;

  .widgets-container,
  .charts-container {
    display: flex;
    padding: 20px;
    gap: 25px;
  }

  .charts-container {
    flex-direction: column;
  }

  .table-container {
    background-color: $itemColor;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .table-wrapper {
      overflow: auto;
    }

    .title {
      color: $textColor;
      margin-bottom: 30px;
    }
  }
}

// dark theme

.home-container.dark {
  background-color: $bgColor-dark;

  .table-container {
    background-color: $itemColor-dark;
    border: 1px solid $textColor-dark;

    .title {
      color: $textColor-dark;
    }
  }
}

// media query
@media screen and (max-width: 500px) {
  .home-container {
    .widgets-container,
    .charts-container {
      flex-direction: column;
      gap: 15px;
    }
  
    .table-container {
      background-color: $itemColor;
      padding: 20px;
      margin: 20px;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  
      .title {
        color: $textColor;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 990px) {
  .home-container{
    .widgets-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .charts-container {
      flex-direction: column;
    }

    .table-container {
      background-color: $itemColor;
      padding: 20px;
      margin: 20px;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  
      .title {
        color: $textColor;
        margin-bottom: 30px;
      }
    }
  }
}