@use '../../scss/base' as *;

.home-container {
  @include container;

  .widgets-container,
  .charts-container {
    display: flex;
    gap: 25px;
    padding: $container-padding;
  }

  .charts-container {
    flex-direction: column;
  }

  .table-container {
    margin: 20px;
    border-radius: 10px;
    background-color: $itemColor;
    padding: $container-padding;
    box-shadow: $box-shadow;

    .table-wrapper {
      overflow: auto;
    }

    .title {
      @include title;
      font-size: 18px;
    }
  }
}

// dark theme

.home-container.dark {
  background-color: $bgColor-dark;

  .table-container {
    background-color: $itemColor-dark;
    border: 1px solid $textColor-dark;

    .title {
      color: $textColor-dark;
    }
  }
}

// media query
@media screen and (max-width: 500px) {
  .home-container {
    .widgets-container,
    .charts-container {
      flex-direction: column;
      gap: 15px;
    }
  
    .table-container {  
      .title {
        font-size: $title-sm;
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 990px) {
  .home-container{
    .widgets-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .charts-container {
      flex-direction: column;
    }

    .table-container {
      .title {
        font-size: $title-m;
      }
    }
  }
}