@use '../../scss/base' as *;

.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f6f6f8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;

    .title {
      font-weight: 700;
      color: $textColor;
    }

    .stat {
      font-size: 25px;
      font-weight: 700;
      color: $accentColor;
    }

    .link {
      font-size: 14px;
      font-weight: 600;
      color: $textColor;
      transition: all 0.2s ease;

      &:hover {
        color: #c60021;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .percent {
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    .percent.up {
      color: green;
    }

    .icon {
      align-self: flex-end;
      padding: 5px;
      border-radius: 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }
}

// dark theme
.widget.dark {
  background-color: $itemColor-dark;
  border: 1px solid $textColor-dark;

  .left {

    .title {
      color: $textColor-dark;
    }

    .stat {
      color: $accentColor-dark;
    }

    .link {
      color: $textColor-dark;

      &:hover {
        color: $accentColor-dark;
      }
    }
  }
}

// media query

@media screen and (max-width: 700px) {
  .widget {
    .left {
      .title {
        font-size: 14px;
      }
  
      .stat {
        font-size: 20px;
      }
  
      .link {
        font-size: 12px;
      }
    }
  
    .right {
      .percent {
        font-size: 14px;
      }
  
      .icon {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .widget {
    .left {
      .title {
        font-size: 15px;
      }

      .stat {
        font-size: 22px;
      }

      .link {
        font-size: 13px;
      }
    }

    .right {
      .percent {
        font-size: 15px;
      }

      .icon {
        font-size: 22px;
      }
    }
  }
}