$primaryColor: #605865;
$secondaryColor: #f6f6f8;
$bgColor: #e3e3e3;
$accentColor: #c60021;

.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f6f6f8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: 700;
      color: $primaryColor;
    }

    .stat {
      font-size: 25px;
      font-weight: 700;
    }

    .link {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      color: #605865;
      transition: all 0.2s ease;

      &:hover {
        color: #c60021;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .percent {
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    .percent.up {
      color: green;
    }

    .icon {
      align-self: flex-end;
      padding: 5px;
      border-radius: 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }
}

// dark theme
.widget.dark {
  background-color: #121212;
  -webkit-box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 4px 5px 1px rgba(201, 201, 201, 0.15);

  .left {
    .title {
      color: #ddd;
    }

    .stat {
      color: #ccc;
    }

    .link {
      color: #ccc;
    }
  }
}
