.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .search {
      display: flex;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      input {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 5px;
      }
    }

    .items-container {
      display: flex;
      align-items: center;
      gap: 25px;

      .item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        .icon {
          color: #777;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        .badge {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: red;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: 800;
        }
      }
    }
  }
}

// dark theme

.navbar.dark {
  background-color: #121212;
  border-bottom: 0.5px solid #333;

  .wrapper {
    .search {
      border: 1px solid #777;
      color: #ccc;

      input {
        color: #ccc;
      }
    }
  }

  .items-container {
    .item {
      color: #ddd;
      .icon {
        color: #ddd;
      }
    }
  }
}
