@use '../../scss/base' as *;

.navbar {
  height: 50px;
  background-color: $itemColor;
  position: relative;

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .menu-icon {
      display: none;
      color: $textColor;
    }

    .search {
      display: flex;
      align-items: center;
      border-radius: 5px;
      border: 1px solid $bgColor;
      box-shadow: $box-shadow;
      color: $textColor;

      input {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 5px;
        color: $textColor;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .items-container {
      display: flex;
      align-items: center;
      gap: 25px;

      .item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: $accentColor;
          .icon {
            color: $accentColor;
          }
        }

        .icon {
          color: $textColor;
          transition: all 0.2s ease;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        .badge {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: $accentColor;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: 800;
        }
      }
    }
  }
}

// dark theme

.navbar.dark {
  background-color: $itemColor-dark;
  .wrapper {
    .menu-icon {
      color: $textColor-dark;
    }

    .search {
      border: 1px solid $textColor-dark;
      color: $textColor-dark;

      input {
        color: $textColor-dark;
      }
    }

    .items-container {
      .item {
        color: $textColor-dark;

        &:hover {
          color: $accentColor-dark;

          .icon {
            color: $accentColor-dark;
          }
        }

        .icon {
          color: $textColor-dark;
        }

        .badge {
          background-color: $accentColor-dark;
          color: $bgColor-dark;
        }
      }
    }
  }
}

// media query

@media screen and (max-width: 990px) {
  .navbar {
    background-color: $itemColor;
  
    .wrapper {
      .menu-icon {
        display: block;
      }
  
      .search {
        display: none;
      }
    }
  }
}