@use '../../scss/base' as *;

.sidebar {
  flex: 1;
  min-height: 100vh;
  background-color: $itemColor;

  .top {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;

    .logo {
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      color: $accentColor;
    }
  }

  .bottom {
    padding-left: 10px;
    height: 100%;

    .link-container {
      list-style-type: none;

      .title {
        font-size: 10px;
        color: $textColor;
        font-weight: 700;
        padding: 15px 0 5px;
      }

      .link {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background-color: $bgColor;
          color: $textColor
          span {
            color: $itemColor;
          }
        }

        .icon {
          font-size: 18px;
          color: $accentColor;
        }

        span {
          font-size: 13px;
          font-weight: 700;
          color: $textColor;
        }
      }
    }
  }
}

// dark theme

.sidebar.dark {
  background-color: $itemColor-dark;

  .top {
    .logo {
      color: $accentColor-dark;
    }
  }

  .bottom {
    .link-container {
      .title {
        color: $textColor-dark;
      }

      .link {
        &:hover {
          background-color: $bgColor-dark;          
        }

        .icon {
          color: $accentColor-dark;
        }

        span {
          color: $textColor-dark;
        }
      }
    }
  }
}

// media query

@media screen and (min-width: 320px) and (max-width: 990px) {
.sidebar {
  display: none;

    .bottom {
      padding: 10px;
      flex: 1;


      .link-container {

        .title {
          display: none;
        }

        .link {
          margin-top: 5px;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 5px;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            background-color: $bgColor;

            color: $textColor span {
              color: $itemColor;
            }
          }

          .icon {
            font-size: 18px;
            color: $accentColor;
          }

          span {
            font-size: 13px;
            font-weight: 700;
            color: $textColor;
          }
        }
      }
    }
  }
}
