@use '../../scss/base'as *;

.new-container {
  padding: 20px;
  background-color: $bgColor;
  border-top-left-radius: 10px;
  min-height: 100vh;

  .title {
    color: $textColor;
    margin-bottom: 20px;
    font-weight: 700;
    border-radius: 10px;
  }

  .form-container {
    background-color: $itemColor;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 10px;

    .img {
      flex: 2;
      align-self: center;
      text-align: center;

      img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: contain;
      }
    }

    .form {
      flex: 3;
      display: flex;
      justify-content: space-around;
      gap: 10px;
      flex-wrap: wrap;

      .form-group.file-input {
        display: flex;
        align-items: center;
        align-self: flex-start;

        .icon {
          cursor: pointer;
        }

        label {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        input {
          display: none;
        }
      }

      .form-group {
        width: 45%;
        margin-bottom: 15px;
        padding: 5px;

        label {
          display: block;
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: 700;
          color: $textColor;
        }

        input {
          width: 90%;
          padding: 5px;
          border: none;
          outline: none;
          border-bottom: 2px solid $bgColor;
          background-color: transparent;
          color: $textColor;
          font-weight: 600;
          font-size: 14px;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &::placeholder {
            color: #60586595;
            font-weight: 600;
          }
        }

        &.select {
          select {
            padding: 5px;
            outline: none;
            width: 95%;
            color: $textColor;
            font-weight: 600;
          }
        }
      }

      .form-button {
        width: 150px;
        padding: 10px;
        border: none;
        background-color: #c6002130;
        color: $accentColor;
        border-radius: 5px;
        transition: all 0.2s ease;
        margin-top: 20px;
        cursor: pointer;
        font-weight: 700;

        &:hover {
          background-color: $accentColor;
          color: $itemColor;
        }
      }
    }
  }
}

// dark theme 

.new-container.dark {
  background-color: $bgColor-dark;

  .title {
    margin-bottom: 20px;
  }

  .form-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: $itemColor-dark;

    .form {
      .form-group {
        label {
          color: $accentColor-dark;
        }

        input {
          border-bottom: 1px solid $textColor-dark;
          color: $textColor-dark;
        }
      }

      .form-button {
        background-color: #66fcf130;
        color: #66fcf1;

        &:hover {
          background-color: $accentColor-dark;
          color: $itemColor-dark
        }
      }
    }
  }
}

// media query

@media screen and (max-width: 700px) {
  .new-container {
    border-top-right-radius: 10px;

    .title {
      font-size: 18px;
    }
  
    .form-container {
      flex-direction: column;  
      gap: 25px;

      .img {
        flex: 1;  
        img {
          width: 150px;
          height: 150px;
        }
      }
  
      .form {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        .form-group {
          width: 100%;
  
          label {
            font-size: 14px;
          }
  
          input {
            width: 90%;
            font-size: 14px;
          }
        }
  
        .form-button {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 701px) and (max-width: 990px) {
  .new-container {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  
    .title {
      font-size: 22px;
    }
  
    .form-container {
      flex-direction: row;
      gap: 25px;
  
      .img {
        flex: 1;
  
        img {
          width: 200px;
          height: 200px;
        }
      }
  
      .form {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        .form-group {
          width: 100%;
  
          label {
            font-size: 14px;
          }
  
          input {
            width: 90%;
            font-size: 14px;
          }
        }
  
        .form-button {
          margin-top: 10px;
        }
      }
    }
  }
  }

