$primaryColor: #605865;
$secondaryColor: #f6f6f8;
$bgColor: #e3e3e3;
$accentColor: #c60021;

.filter-container {
  border: 1px solid $bgColor;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: $primaryColor;
  margin-bottom: 15px;
  width: fit-content;

  input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    color: $primaryColor;
    font-size: 16px;
    font-weight: 600;
  }
}
