@use '../../scss/base' as *;

.filter-container {
  border: 1px solid $bgColor;
  border-radius: 5px;
  box-shadow: $box-shadow;
  color: $textColor;
  margin-bottom: 15px;
  width: fit-content;

  input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    color: $textColor;
    font-size: 16px;
    font-weight: 600;
  }
}

// dark theme

.filter-container.dark {
  border: 1px solid $textColor-dark;
  color: $textColor-dark;

  input {
    color: $textColor-dark;
  }
}

// media query

@media screen and (max-width: 600px) {
  .filter-container {
    margin-bottom: 10px;
  
    input {
      font-size: 14px;
      padding: 5px 10px;
    }
  }
}
