$textColor: #605865;
$itemColor: #f6f6f8;
$bgColor: #e3e3e3;
$accentColor: #c60021;

$textColor-dark: #c5c6c7;
$itemColor-dark: #1f2833;
$bgColor-dark: #0b0c10;
$accentColor-dark: #66fcf1;

.filter-container {
  border: 1px solid $bgColor;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: $textColor;
  margin-bottom: 15px;
  width: fit-content;

  input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    color: $textColor;
    font-size: 16px;
    font-weight: 600;
  }
}

// dark theme

.filter-container.dark {
  border: 1px solid $textColor-dark;
  color: $textColor-dark;

  input {
    color: $textColor-dark;
  }
}

// media query

@media screen and (max-width: 600px) {
  .filter-container {
    
    margin-bottom: 10px;
  
    input {
      font-size: 14px;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 5px 10px;
    }
  }
}
