@use './scss/base' as *;

.main-container {
  display: flex; 
  overflow: hidden;

  .side-container {
    width: 15%;
    min-height: 100%;
    background-color: $itemColor
  }
  
  .page-container {
    width: 85%;
    background-color: $itemColor;
  }
}

// dark theme

.main-container.dark {
  
  .side-container {
    background-color: $itemColor-dark;
  }

  .page-container {
    background-color: $itemColor-dark;
  }
  
}

// media query

@media screen and (min-width: 320px) and (max-width: 990px) {
  .main-container {
    .side-container {
      display: none;
    }
    .page-container {
      width: 100%;
    }
  }
}