@use '../../scss/base' as *;

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px auto 20px;
  border-radius: 10px;
  font-weight: 700;
  width: 90%;

  &.error {
    color: $accentColor;
    background-color: #c6002130;
    border: 2px solid $accentColor;
  }

  &.success {
    background-color: rgba(86, 240, 0, 0.3);
    color: #246500;
  }

  &.pending {
    background-color: $textColor;
    color: $itemColor;
  }
}

// dark theme

.message.dark {

  &.success {
    background-color: rgba(86, 240, 0, 0.3);
    color: $itemColor;
  }
}